Rubrica Telefonica 
<!--prova-->
<br>
<br>
Nome <input type="text" [(ngModel)]="contatto.nome">
Cognome <input type="text" [(ngModel)]="contatto.cognome">
Numero di telefono <input type="text" [(ngModel)]="contatto.telefono">
<button (click)= "inserisci()">Inserisci Contatto</button>

<ul *ngIf= "rubrica.length > 0">
    <li *ngFor="let r of rubrica; index as i">
      {{r.nome}}
      {{r.cognome}}
      {{r.telefono}}
      <button (click)= "rimuovi()">Rimuovi Contatto</button>
    </li>
  </ul>
  <!-- FINE PROVA FEDERICO date 07/02/2021 -->