Rubrica Telefonica 
<!--prova-->
<br>
<br>
Nome <input type="text" [(ngModel)]="contatto.nome">
Cognome <input type="text" [(ngModel)]="contatto.cognome">
Numero di telefono <input type="text" [(ngModel)]="contatto.telefono">
<br id="bottoni"><br>
<button *ngIf="stato == 'ins'"(click)= "inserisci()">Inserisci Contatto</button>



<button *ngIf="stato == 'mod' " (click)= "cancella()">Cancella rubrica</button>
<button *ngIf="stato == 'mod' "(click)= "recupera()">Recupera contatti</button>
<button *ngIf="stato == 'mod' "(click)= "rimuovi()">Rimuovi contatto</button>

<button *ngIf="stato == 'con' "(click)= "conferma()">Conferma</button>
<button *ngIf="stato == 'con' "(click)= "annulla()">Annulla</button>
<button *ngIf="stato == 'mod' "(click)= "indietro()">Indietro</button>